/*************************************
            DEFAULTS
**************************************/

body{
    background-color: #F8F8F8;
    line-height: 1.5rem;
    font-size: 16px;
}

/* setting font sizes / hierarchy */
h1{font-size: 2em;}
h2{font-size: 1.625em;}
h3{font-size: 1.375em;}
h4{font-size: 1.125em;}
p{
    line-height: 2rem;
}
footer, header{
    background-color: #E8E4E1;
}

header {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

h1, h2, h3, h4, p{
    margin: 0 2rem;
    margin-top: 1rem
}

button{
    margin: 0 2rem;
    margin-top: 1rem;
}

form{
    margin: 0 2rem;
}

/* I still need to add a font and maybe typography hierarchy */

/*************************************
                HOME
**************************************/
.bg-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.bg-image img {
    width: 80%;
    margin-top: 2rem;
    border-radius: 10rem;
}

img{
    width: 100%;
}

.my-skills img{
    margin-top: 1rem;
}
.my-skills button{
    margin-bottom: 1rem;
}
.my-work img{
    margin-top: 1rem;
}

.skills {
    /* using flex to make skills sit in a column in center */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills p{
    /* adujsting the margin on p so the text takes up less off the width */
    margin: 0 10rem;
}

/*************************************
            FOOTER
**************************************/

footer {
    position: relative;
    padding: 1rem 0;
    display: flex;
    font-size: 14px;
}

footer p{
    line-height: 10px;
}

footer img{
    width: 25px;
    margin: 1rem 2rem;
}

.social-icons svg{
    height: 30px;
    padding: 0 1rem;
}

.social-icons svg:hover{
   fill: #938e7f;
}
.social-icons {
    position: absolute;
    top: 1rem;
    right: 2rem;
}
