/*************************************
            DEFAULTS
**************************************/

body{
    background-color: #F8F8F8;
    line-height: 1.5rem;
    font-size: 16px;
}

/* setting font sizes / hierarchy */
h1{font-size: 2em;}
h2{font-size: 1.625em; padding-top: 1.5rem;}
h3{font-size: 1.375em; padding-top: 1.5rem;}
h4{font-size: 1.125em; padding-top: 1.5rem;}
p{
    line-height: 2rem;
}
footer, header{
    background-color: #E8E4E1;
}

header {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

h1, h2, h3, h4, p{
    margin: 0 2rem;
    margin-top: 1rem
}

button{
    margin: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

nav button {
    margin: unset;
}

form{
    margin: 0 2rem;
}

/* I still need to add a font and maybe typography hierarchy */

/*************************************
                HOME
**************************************/
.bg-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.bg-image img {
    width: 80%;
    margin-top: 2rem;
    border-radius: 10rem;
}

img{
    width: 100%;
}

.my-skills button{
    margin-bottom: 2rem;
}
.my-work img{
    margin-top: 1rem;
}

.skills {
    /* using flex to make skills sit in a column in center */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills p{
    /* adujsting the margin on p so the text takes up less off the width */
    margin: 0 6rem;
}

/*************************************
            FOOTER
**************************************/

footer {
    position: relative;
    padding: 1rem 0;
    display: flex;
    font-size: 14px;
}

footer p{
    line-height: 10px;
}

footer img{
    width: 25px;
   margin-left: 2rem;
}

.social-icons svg{
    height: 30px;
    padding: 0 1rem;
}

.social-icons svg:hover{
   fill: #938e7f;
}
.social-icons {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

footer h3{
    padding: unset;
}

/*************************************
           ABOUT
**************************************/

.more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.banner {
    background-color: #C4AEA3;
}

.banner p{
    padding-top: 1rem;
    font-size: 2em;
    margin: unset;
}

.practice, .more-about {
    background-color: #D5CFBF;
    padding-bottom: 2rem;
}

/*************************************
           PHOTOGRAPHY
**************************************/
.photo img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 0;
}

/*************************************
           CONTACT
**************************************/
.contact-form {
    background-color: #C4AEA3;
    border-radius: 25px;
    margin: 1.5rem 2rem;
}

.submit {
    margin-bottom: 1rem;
}

/*************************************
        MEDIA QUERIES
**************************************/

@media screen and (min-width:700px) {
    /* adujsting my skills to sit in three columns instead of 1 */
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills p {
        margin: unset;
        margin: 0 2rem;
    }

    /* adjusting practice section to sit in three columns instead of 1 */
    .practice-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1000px) {
    /********************************
                CONTACT
    ********************************/
    /* making contact form sit next to contact information */
    .contact {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    /* adding padding so contact page takes up the who viewport height */

    /********************************
                HOME
    ********************************/
    .bg-image img {
        width: 60%;
        padding-bottom: 1rem;
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 2rem;
    }

    .about-me img{
        border-radius: 25px;
    }

    .my-work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 1rem 2rem;
    }

    .my-work img {
        border-radius: 25px;
    }

    .my-work picture {
        grid-column-start: 2;
    }

    .my-work div{
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .my-skills {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 1rem 2rem;
    }

    .my-skills img {
        border-radius: 25px;
    }

    /********************************
               ABOUT
    ********************************/
    .know-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 2rem;
    }

    .know-me img{
        border-radius: 25px;
    }

    .more-about {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    /********************************
               PORTFOLIO
    ********************************/
    .grid {
        /* making image and text sit next to each other */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 2rem;
    }

    /* adding rounder corners to img */
    .grid img {
        border-radius: 25px;
    }

    .right {
        grid-column-start: 2;
    }

    .left{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .photography {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}